@import './main.scss';

main{
    display: flex;
}

.container-img{
    width: 50vw;
    height: 100vh;
    background: #ccc;
    position: relative;
}

form{
    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


form div{
    padding: 15rem 0rem 5rem 0rem;
}

.inputs{
    padding: 0rem 0rem;
}


.inputs {
    display: flex;
    flex-direction: column;
}

.inputs div{
    padding: 0rem 0rem;
    display: flex;
    justify-content: center;
    
}



h1{
    font-family: "Poppins", serif;
    font-size: 9rem;
    height: 10rem;
}

span{
    font-size: 2.4rem;
    font-weight: 600;
    color: #ccc;
}

input{
    width: 42rem;
    height: 3rem;
    border-radius: 2rem;
    padding: 1rem;
    border: 0.1rem solid #ccc;
    margin: 1rem;
}

input:focus{
    outline: 0.1rem solid $primary-color;
}

.inputs a{
    color: $primary-color;
    text-align: right;
    font-size: 1.3rem;
    margin: 2rem 1.5rem 0rem 0rem;
    
}


.buttons{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.buttons button, .buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42rem;
    height: 5rem;
    border-radius: 2rem;
    border: 0px;
    margin: 0.5rem auto;
    cursor: pointer;
}

button:nth-child(1){
    background: $primary-color;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    font-size: 2rem;
}

button:nth-child(1):hover{
    background: $primary-strong;
}

.buttons a{
    text-decoration: none;
    color: #707070;
    border: 0.1rem solid #ccc;
    font-size: 1.5rem;
}

.buttons a img{
    height: 2.5rem;
    width: 2.5rem;
    margin: 1rem;
}

p{
    font-weight: 400;
    margin: 5rem 0rem;
    font-size: 1.5rem;
}

p a{
    color: $primary-color;
}

.bg-cloud{
    display: none;
   
}




@media(max-width: 1100px){
   
    html{
        font-size: 50%;
    }
   
}

@media(max-width: 1050px){
    html{
        font-size: 70%;
    }

    .bg-cloud{
        display: block;
        position: absolute;
        bottom: 0px;
    
        width: 100vw;
        height: auto;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    .container-img{
        width: 100vw;
        height: 25vh;
    }

    form{
        width: 100vw;
    }

    form div{
        padding: 0rem 0rem 5rem 0rem;
    }
    
    .inputs{
        padding: 0rem 0rem;
    }
}

@media(max-width: 800px){
    html{
        font-size: 55%;
    }
}



@media(max-height: 800px){
    html{
        font-size: 45%;
    }

    .bg-cloud{
        display: none;
       
    }

    .container-img{
        width: 50vw;
        height: 100vh;
    }

    form{
        display: flex;
        justify-content: center;
        width: 50vw;
    }

    main{
        display: flex;
        flex-direction: row;

    }

    form div{
        padding: 0rem 0rem 5rem 0rem;
    }         
}

@media(max-height: 500px){
    html{
        font-size: 35%;
    }
}


@media(max-width: 500px){
    html{
        font-size: 45%;
    }
    
    main{
        display: flex;
        flex-direction: column;
    }

    .container-img{
        width: 100vw;
        height: 20vh;
    }
    form{
        width: 100vw;
        height: 80vh;
    }

    
}









